@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper-above{
  position: absolute;
}

.wrapper{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.wrapper .static-txt{
  color: #000;
  font-size: 60px;
  font-weight: 400;
  display: inline;
  justify-content: center;
  align-items: center;
}
.wrapper .dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  display: inline-block;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a9a8a8;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
ul{
    padding-inline-start: 20px !important;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.mb-0{
  margin-bottom: 0px;
}